name: Linting

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  lint:
    name: ESLint Check
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            objects.githubusercontent.com:443
            npm.pkg.github.com:443
            nodejs.org:443
            pkg-npm.githubusercontent.com:443
            registry.npmjs.org:443

      - name: Run code style check
        uses: myrotvorets/composite-actions/node-run-script@96017f90942616677d9fdad3cf29cefcec02d795
        with:
          registry-url: https://npm.pkg.github.com
          script: lint

  typecheck:
    name: TypeScript Check
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            objects.githubusercontent.com:443
            npm.pkg.github.com:443
            nodejs.org:443
            pkg-npm.githubusercontent.com:443
            registry.npmjs.org:443

      - name: Run type check
        uses: myrotvorets/composite-actions/node-run-script@96017f90942616677d9fdad3cf29cefcec02d795
        with:
          registry-url: https://npm.pkg.github.com
          script: typecheck
